<div class="w-75 mx-auto mt-5">
  <h2 class="text-center">Sobre nosotros</h2>
  <div class="row mt-5">
    <div class="col-md-5 imgDescription">
      <img
        class="w-100"
        src="/assets/parrilla3.avif"
        alt="imagen del producto"
      />
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 imgDescription">
      <img
        class="w-100"
        src="/assets/parrilla3.avif"
        alt="imagen del producto"
      />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-5">
      <h3>Products description</h3>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <h3>Team description</h3>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-5">
      Short description of your products innovate features.
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">Short description of your team.</div>
  </div>

  <div class="row mt-3">
    <div class="col-md-5">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit minima
      iusto, aliquam aspernatur beatae atque corrupti exercitationem.
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit minima
      iusto, aliquam aspernatur beatae atque corrupti exercitationem.
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-5">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad eaque, dolore
      officiis corporis quae soluta! Sint sit modi iusto adipisci? Culpa nam
      atque eum fugit quo tenetur ipsam autem dolores!
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad eaque, dolore
      officiis corporis quae soluta! Sint sit modi iusto adipisci? Culpa nam
      atque eum fugit quo tenetur ipsam autem dolores!
    </div>
  </div>
</div>
