<hr class="mt-5">
<div class="text-center p-0 w-75  mx-auto ">
  <div class="row mt-1">
    <div class="col-md-12">
      <h4 class="mt-4">Needs more info</h4>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-12">
      <p>Send me an email to get more info about producs</p>
    </div>
  </div>

  <div class="row mt-2 mb-4">
    <div class="col-md-12">
      <form action="" method="post">
        <input
          class="mb-3"
          type="email"
          id="email"
          name="email"
          placeholder="Introduce tu email"
        />
        <button type="button" class="btn btn-dark ms-2 mb-1">SEND</button>
      </form>
    </div>
  </div>
</div>
