<div class="w-75 mx-auto text-center mt-5">
  <h3>Sobre nosotros</h3>
  <div class="row mt-5">
    <div class="col-md-5 imgDescription">
      <img class="w-100" src="/assets/parrilla3.avif" alt="imagen del producto">
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 imgDescription">
      <img class="w-100" src="/assets/parrilla3.avif" alt="imagen del producto">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-5">
      <h4>Description products</h4>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <h4>Team description</h4>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-5"></div>
    <div class="col-md-2"></div>
    <div class="col-md-5"></div>
  </div>

</div>
